div(class="md-modal md-effect-1", id="modal-1")
  div(class="md-content")
    h3 Add new Technology
    div(id="create_form" class="popup_form")
      form(action="", name="create")

          include fieldsetBlock

          div(class="field")
            input(type="submit", name="submit",class="button",id="submit_btn",value="Create")