fieldset
  div(class="field")
    label(for="name", id="name_label") Technology Name  
    input(type="text", name="name", id="name", size="30", class="text-input")  
    label(class="error",for="name",id="name_error") This field is required.

  div(class="field")
    label(for="type",id="type_label") Technology Type 
    div(class="styled_select")
      select(name="type", id="type")
        option(value="language-framework") Language or Framework
        option(value="technique") Technique
        option(value="platform") Platform
        option(value="Tool") Tool

  div(class="field")
    label(for="stage",id="stage_label") Stage of Adoption
    div(class="styled_select")
      select(name="stage", id="stage")
        option(value="assess") Assess
        option(value="hold") Hold
        option(value="adopt") Adopt
        option(value="trial") Trial

  div(class="field")
    label(for="description", id="description_label") Description
    input(type="text", name="description", id="description", size="30", class="text-input")
    label(class="error",for="description",id="description_error") This field is required. 